// _variables.scss
// ===============
@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";

// Definition der Farben
// =====================
$beige          : #E3C691;
$darkGreenGold  : #8D8862;
$lightGreen     : #C0DC99;
$green          : #507356;
$lightBlue      : #97D5D9;
$desatBlue      : #464B65;
$purple         : #3E2B3D;
$darkPurple     : #3A3248;
$pink           : #CC8E94;
$skin           : #B08B7B;
$steal          : #174469;
$orange         : #ff6600;
$darkgrey       : #141414;
$menu-background: #343e48;
$blue           : #001aff;
$grey           : #5f6975;
$yellow         : #ffff00;
$green          : #04ff04;
$red            : #fc0505;
$wueste         : #996600;
$mais           : #ffcc33;
$gras           : #009933;
$pistazie       : #99ff99;
$white          : #ffffff;





// Definition der Schriftart
// Bei bedarf kann dieses angepasst werden
// =======================================
$headFont : arial, helvetica, sans-serif;
$bodyFont : arial, helvetica, serif;
